<!-- no-header -->

{% if not faq %}
<br>
<p class="text-muted">{{ _("Frequently Asked Questions not set.") }}</p>
{% endif %}
<div class="website-list help-category-list">
    {% for article in faq %}
	<a href="{{ article.parent_website_route }}/{{ article.page_name }}" class="no-decoration">
	    <div class="row web-list-item">
	        <div class="col-sm-10">
	    		<p>
					{{ article.title }}<br>
					<span class="text-muted small">{{ article.category }}</span>
				</p>
	        </div>
			<div class="col-sm-2 indicator-column">
	    		<span class="indicator {{ get_level_class(article.level) }}">
	                {{ article.level }}</span>
			</div>
	    </div>
	</a>
    {% endfor %}
</div>
