{% set article = doc %}
<div class="row web-list-item">
    <div class="col-sm-9">
		<p>
			<a class="no-decoration" href="/{{ article.parent_website_route }}/{{ article.page_name }}">
				{{ article.title }}
			</a><br>
            <a class="grey text-muted small" href="{{ article.parent_website_route }}">{{ article.category }}</a>
		</p>
    </div>
	<div class="col-sm-3 indicator-column text-right">
		<span class="help-category-label indicator-right {{ get_level_class(article.level) }}">
            {{ article.level }}
        </span>
	</div>
</div>
