{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- no-header -->
<div class="website-list help-category-list">
	{% for article in articles %}
	<div class="row web-list-item">
        <div class="col-xs-12">
    		<span class="pull-right help-category-label label label-{{ get_level_class(article.level) }}">
                {{ article.level }}</span>
    		<h3>
    			<a href="/{{ article.parent_website_route }}/{{ article.page_name }}">
                    {{ article.title }}</a></h3>
    		<div class="text-muted small">
    			By {{ article.author }} on {{ frappe.format_date(article.creation) }}</div>
        </div>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block style %}
<style>
.help-category-label {
	margin-top: 15px;
}

.page-content {
	padding-bottom: 0px;
}
</style>
{% endblock %}
