{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- start-hero -->

<div class="container padding-lg border-bottom">
	<h1>
		{{ _("Questions for {0}").format(title) }}
	</h1>
</div>

<!-- end-hero -->

<!-- no-header -->
<div class="website-list help-category-list">
	{% for article in articles %}
	<a class="no-decoration" href="/{{ article.parent_website_route }}/{{ article.page_name }}">
		<div class="row web-list-item">
	        <div class="col-sm-10">
	    		<p>{{ article.title }}</p>
	        </div>
			<div class="col-sm-2 indicator-column">
	    		<span class="help-category-label indicator {{ get_level_class(article.level) }}">
	                {{ article.level }}</span>
			</div>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}

{% block style %}
<style>
.help-category-label {
	margin-top: 15px;
}

.page-content {
	padding-bottom: 0px;
}
</style>
{% endblock %}
