{% block content %}
<article class="help-content" itemscope itemtype="http://schema.org/BlogPost">
    <h6 class='text-muted'>By {{ author }} on {{ frappe.format_date(creation) }}</h6>
	<p><span class="label label-{{ level_class }} small">{{ level }}</span></p>
	<div itemprop="articleBody">
	{{ content }}
	</div>
	<!-- end blog content -->
</article>
<hr>
<h3>Comments</h3>
{% include 'templates/includes/comments/comments.html' %}
<script>
$(function() {
	if(window.logged_in && getCookie("system_user")==="yes") {
		frappe.has_permission("Help Article", "{{ name }}", "write", function(r) {
			frappe.require("/assets/frappe/js/frappe/website/editable.js");
			frappe.make_editable($('[itemprop="articleBody"]'), "Help Article", "{{ name }}", "content");
		});
	}
});
</script>
{% endblock %}
