<!-- title: Knowledge Base -->
<!-- render-jinja -->

<h3>Frequently Asked Questions</h3>

<ul class="list-group">
	{% for article in faq %}
	<li class="list-group-item">
		<span class="label label-{{ get_level_class(article.level) }} pull-right"
			style="margin-top: 5px;">{{ article.level }}</span>
		<a href="{{ article.parent_website_route }}/{{ article.page_name }}">{{ article.title }}</a>
		<br><span class="text-muted small">{{ article.category }}</span>
	</li>
	{% endfor %}
</ul>

<hr>

<p class="text-muted small">Want to contribute an article? <a href="https://frappe.io/contact">Write to us</a></p>
